<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AutoUpdater.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--服务器IP -->
    <add key="ServerIP" value="ink.wxriw.cn"/>
    <!--服务器端口-->
    <add key="ServerPort" value="19570"/>
    <!--升级完成后，将被回调的可执行程序的名称-->
    <add key="CallbackExeName" value="Ink Canvas.exe"/>
    <!--主窗体的Title-->
    <add key="Title" value="Ink Canvas 画板 - 自动更新"/>   
  </appSettings>  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>